body {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.transform-img {
    transform: rotate(-10deg); /* Ajusta el valor de rotación como desees */
}
  
.quarter-circle{
    clip-path: circle(100% at 0% 100%);
}

.sec1 {
    background-image: url('../images/4.png');
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}


.sec1 h1{
    font-family: "Yeseva One", cursive;
    color: #09212e;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.sec2 h3, .sec2 span, .sec3 h2, .sec4 h2, .sec5 h2, .sec6 h2{
    text-align: left;
    color: #09212e;
    font-family: "Yeseva One", cursive;
    margin-bottom: 15px;
    line-height: 1.3em;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

.sec2 p, .sec3 p, .sec4 p, .sec5 p {
    text-align: left;
    color: #343a40;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.sec2 .num {
    text-align: left;
    color: #8DD33C;
    font-family: "Yeseva One", cursive;
    margin-bottom: 15px;
    line-height: 1.3em;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.sec2 .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec2 .col-md-4 {
    flex: 1; /* Esto asegura que las columnas se distribuyan equitativamente */
}

.sec3 {
    background: linear-gradient(to bottom, #ffffff, #e8f9e5, #c8f2c9);
    min-height: 600px;
    background-attachment: fixed;
}

.sec3 h2 {
    text-align: center;
}

.sec3 h4 {
    font-family: "Yeseva One", cursive;
    margin-bottom: 15px;
    line-height: 1.3em;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0px;
}

.sec3 p{
    text-align: center;
}

.sec4 {
    background-image: url('../images/4.png');
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sec4 p {
    font-size: 25px;
}

.sign {
    margin-top: 15px;
}

.sec5 {
    background-color: #F5FEF7;
    min-height: 680px;
    background-attachment: fixed;
    padding-right: 5%;
    padding-left: 5%;
}

.sec5 h5 {
    font-family: "Yeseva One", cursive;
    text-align: center;
    margin-bottom: 15px;
    line-height: 1.3em;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
}

.team-member {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.team-member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.info-box {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #8DD33C;
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 8px;
    display: none;
}

.team-member:hover .info-box {
    display: block;
}

.info-box h5 {
    margin: 0 0 5px;
}

.info-box p {
    font-size: 14px;
    margin: 0 0 10px;
}

.social-icons a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.team-member:hover img {
    transform: scale(1.1);
}

.sec6 {
    min-height: 575px;
}

.sec6 h5 {
    font-family: "Yeseva One", cursive;
    margin-bottom: 15px;
    text-align: left;
    line-height: 1.3em;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0px;
}

.card {
    border-radius: 0px;
    border: none;
}

.card-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.card-link:hover {
    text-decoration: none;
    color: inherit;
}

.card-title:hover {
    color: #8DD33C;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 0px;
    transition: filter 0.3s ease;
}

.card-img-top:hover {
    filter: brightness(50%);
}

/*Animaciones*/

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slideInLeft {
    animation: slideInLeft 1s ease-out;
}

/* Animación de deslizamiento hacia la derecha */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Clase para aplicar la animación de deslizamiento hacia la derecha a la sección de los contadores */
.slide-right {
    animation: slideInRight 1s ease-out;
}


/* Animación de zoom para la imagen */
@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Clase para activar la animación */
.animate-zoomIn {
    animation: zoomIn 0.6s ease-out forwards;
}

.transform-img {
    animation: zoomIn 1s ease-out;
}

/* Clase para aplicar la animación de deslizamiento a la columna p1 */
.p1, .sp1 {
    animation: slideInLeft 1s ease-out;
}

.p2 {
    animation: slideInRight 1s ease-out;
}

/* Animación para deslizamiento hacia arriba */
@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Estado inicial antes de la animación */
.sec3 .text-center,
.sec3 .col-md-3, 
.sec5 .col-md-3, 
.sec5 .text-center,
.sec6 .text-center {
    opacity: 0;
    transform: translateY(100px); /* Posición inicial fuera de la pantalla */
}

/* Clase para activar la animación */
.animate-slideUp {
    animation: slideUp 1s ease-out forwards;
}

/*Responsive*/

@media (max-width: 768px) {
    .sec1, .sec3, .sec4 {
        background-attachment: scroll;
    }

    .sec1 h1 {
        font-size: 48px;
    }

    .sec2 h3, .sec2 span, .sec3 h2, .sec4 h2, .sec5 h2, .sec6 h2 {
        font-size: 36px;
    }

    .sec2 .num {
        font-size: 36px;
    }

    .sec5 h5 {
        font-size: 20px;
    }

    .sec3 h4 {
        font-size: 24px;
    }

    .sec2 .row {
        flex-direction: column;
    }

    .sec5 .row {
        flex-direction: column;
    }

    .sec5 {
        padding: 3%;
    }

    .card-img-top {
        height: 200px;
    }
}

@media (max-width: 576px) {
    .sec1 h1 {
        font-size: 36px; /* Reducido para pantallas más pequeñas */
    }

    .sec2 h3, .sec2 span, .sec3 h2, .sec4 h2, .sec5 h2, .sec6 h2 {
        font-size: 28px;
    }

    .sec2 .num {
        font-size: 28px;
    }

    .sec5 h5 {
        font-size: 18px;
    }

    .sec3 h4 {
        font-size: 20px;
    }

    .sec2 p, .sec3 p, .sec4 p, .sec5 p {
        font-size: 16px;
    }

    .team-member img {
        width: 100%;
        height: auto; /* Garantiza que la imagen mantenga su proporción */
    }

    .card-img-top {
        width: 100%;
        height: auto; /* Ajuste en imágenes de tarjeta */
    }

    .sec2 .row {
        flex-direction: column; /* Apilar columnas en lugar de alinearlas horizontalmente */
        align-items: flex-start; /* Alineación de los elementos */
    }

    .sec5 .row {
        flex-direction: column; /* Apilar columnas en lugar de alinearlas horizontalmente */
        align-items: flex-start;
    }

    .sec5 {
        padding: 2% 3%; /* Menos espacio de relleno en dispositivos pequeños */
    }

    .card {
        margin-bottom: 10px; /* Reducir márgenes en las tarjetas */
    }

    .animate-zoomIn, .animate-slideUp, .animate-slideInLeft, .animate-slideInRight {
        animation-duration: 0.5s; /* Reducir la duración de las animaciones */
    }

    .team-member img {
        width: 100px; /* Reducir tamaño de las imágenes de los miembros del equipo */
        height: 100px;
    }

    .info-box {
        width: 100px; /* Reducir el tamaño de los cuadros de información */
        padding: 5px;
    }

    .team-member .info-box h5, .team-member .info-box p {
        font-size: 12px; /* Ajuste en el tamaño de texto dentro del cuadro de información */
    }

    .sec1, .sec3, .sec4 {
        background-attachment: scroll; /* Desactivar el fondo fijo en pantallas pequeñas */
    }

    .card-link {
        padding: 10px;
        font-size: 16px;
    }
}


