body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.banner {
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    min-height: 700px;
    background-image: url('../images/4.png');
    background-repeat: repeat;
    background-size: cover;
}

.sec1 h2 {
    text-align: left;
    color: #09212e;
    font-family: "Yeseva One", cursive;
    margin-bottom: 15px;
    line-height: 1.3em;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
  
.sec1 p {
    text-align: left;
    color: #343a40;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.btn1 {
    margin-top: 30px;
    border-bottom: 4px solid #000;
    border-radius: 0px;
    transition: ease-out .5s;
}

.btn1:hover {
    background-color: #8DD33C;
    border-bottom: 4px solid #5a8726;
    transition: ease-in .5s;
}

.sec2 {
    background-color: #09212E;
    margin-top: 5%;
    position: relative;
    z-index: 2;
    padding: 70px 20px 70px 20px;
    color: white;
    min-height: 360px;
}

.sec2 .ima {
    margin-right: -50px;
}
  
.img-overlay {
    position: absolute;
    top: -250px;
    left: 20%;
    z-index: 3;
}
  
.c1 {
    background-color: transparent;
    border: 1px solid #1b5879;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    padding: 15px;
    transition: ease-in .1s;
}
  
.c1t{
    font-family: "Yeseva One", cursive;
    font-size: 25px;
    color: #fff;
}
  
.card-text.c1tt {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: #fff;
}
  
.c1:hover {
    transition: ease-out .1s;
    background-color: #8DD33C;
    border: 1px solid #5a8726;
    border-bottom: 4px solid #5a8726;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.sec3 {
    padding: 70px 20px;
    text-align: center;
    min-height: 540px;
    background-image: url('../images/3.png');
    background-size: cover;
    background-repeat: repeat;
}

.sec3 h2, .sec9 h2 {
    font-family: "Yeseva One", cursive;
    text-align: left;
    color: #09212e;
    font-size: 55px;
    margin-bottom: 15px;
}

.sec3 p, .sec9 p{
    font-family: "Nunito Sans", sans-serif;
    text-align: left;
    color: #343a40;
    font-size: 23px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.sec3 img {
    max-width: 100%;
    height: auto;
    transform: rotate(-10deg);
}

.sec4 {
    min-height: 700px;
    align-content: center;
    background: linear-gradient(to bottom, #ffffff, #e8f9e5, #c8f2c9, #D6FDC4);
    padding: 100px;
}

.sec4 h2 {
    font-family: "Yeseva One", cursive;
    color: #09212e;
    font-size: 55px;
    margin-bottom: 15px;
}

.c2 {
    border: 1px solid #aaca84;
    color: #646b72;
    background-color: #f8f9fa;
    border-radius: 0px;
    padding: 15px;
    transition: ease-in .2s;
}

.c2:hover {
    border: 1px solid #5a8726;
    border-bottom: 4px solid #5a8726;
    transition: ease-out .2s;
}

.c2t{
    font-family: "Yeseva One", cursive;
    font-size: 25px;
    color: #000;
    text-align: center;
}

.c2tt {
    text-align: center;
}

.sec5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px;
    background-color: #09212E;
    gap: 1px;
}

.sec5-left h2 {
    font-family: "Yeseva One", cursive;
    font-size: 40px;
    color: #f8f9fa;
    margin-left: 40px;
}

.sec5-right {
    display: flex;
    gap: 30px;
    margin-right: 50px;
}

.counter {
    display: flex;
    gap: 20px;
}

.counter-item {
    text-align: center;
}


.count {
    font-size: 40px;
    font-family: "Yeseva One", cursive;
    font-weight: bold;
    color: #f8f9fa;
    transition: transform 0.5s ease-in-out;
}

.sub-title {
    font-size: 18px;
    font-family: "Nunito Sans", sans-serif;
    color: #8DD33C;
    margin-top: 10px;
}

.sec6 {
    padding: 80px 20px;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(circle at center top, #aaca84, #f8f9fe 40%);
}
  
.sec6 h2 {
    font-family: "Yeseva One", cursive;
    font-size: 45px;
    color: #09212e;
}
  
.sec6 form .form-control {
    font-size: 16px;
    padding: 10px;
    border-radius: 0px;
    border: 1px solid #09212E;
}

.bt2 {
    margin-top: 0px;
    width: 100%;
}

.sec7 {
    background-image: url('../images/4.png');
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sec7 p {
    font-size: 25px;
}

.sign {
    margin-top: 15px;
}

.sec8 {
    min-height: 600px;
    background: radial-gradient(circle at center bottom, #aaca84, #f8f9fe 40%);
}

.sec8 h2, .sec7 h2 {
    text-align: center;
    color: #09212e;
    font-family: "Yeseva One", cursive;
    margin-bottom: 15px;
    line-height: 1.3em;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

.sec8 h4 {
    font-family: "Yeseva One", cursive;
    margin-bottom: 15px;
    line-height: 1.3em;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0px;
}

.sec8 p{
    text-align: center;
    color: #343a40;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.transform-img {
    transform: rotate(-10deg);
}

.sec9 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px;
    gap: 1px;
    background: radial-gradient(circle at center bottom, #BEF4FF, #f8f9fe 20%);
}

.sec9 h2 {
    font-size: 50px;
    margin-left: 40px;
}   

.goals-section {
    background: radial-gradient(circle at center top, #BEF4FF, #f8f9fe 20%);
    padding: 50px 0;
}
 
.goals-list {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
  
.goal-item {
    font-family: "Yeseva One", cursive;
    margin-bottom: 15px;
    line-height: 1.3em;
    font-size: 30px;
    color: #0d2e4a;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}
  
.goal-item:hover {
    color: #8dd33c;
}
  
.goal-item.active {
    color: #8dd33c;
}
  
.goal-item.active:before {
    content: '➞ ';
    color: #8dd33c;
}
  
.text-title {
    font-size: 1.75rem;
    color: #0d2e4a;
    font-family: "Yeseva One", cursive;
    margin-bottom: 15px;
    line-height: 1.3em;
    font-size: 30px;
}
  
.description {
    font-size: 1rem;
    color: #646b72;
    font-size: 20px;
    margin-bottom: 15px;
}
  
.image-wrapper {
    position: relative;
    display: inline-block;
    transform: rotate(-5deg);
    border-radius: 10px;
}

/*Responsive*/

@media (max-width: 768px) {
    .banner {
        margin-left: 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-height: 500px;
    }

    .sec1 h2 {
        font-size: 36px;
    }

    .sec1 p {
        font-size: 16px;
    }

    .sec2 .ima {
        margin-right: 0;
        opacity: 0;
        position: relative;
        top: 0;
        left: 0;
    }

    .sec2 .img-overlay {
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
    }

    .sec3 h2 {
        font-size: 40px;
    }

    .sec3 p {
        font-size: 18px;
    }

    .sec4 .c2t {
        font-size: 20px;
    }

    .sec5-left h2 {
        font-size: 30px;
        margin-left: 10px;
    }

    .sec5-right {
        margin-right: 10px;
        gap: 15px;
    }

    .counter-item .count {
        font-size: 30px;
    }

    .sec6 h2 {
        font-size: 35px;
    }

    .footer .form-control {
        width: 80%;
        height: 40px;
        margin-right: 5px;
    }

    .footer .btn {
        width: 20%;
    }

    /* Ajustar las tarjetas */
    .card.c1, .card.c2 {
        width: 100%;
    }

    .card.c1t, .card.c2t {
        font-size: 18px;
    }

    .sec6 form .form-control {
        font-size: 14px;
        padding: 8px;
    }

    .bt2 {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 22px;
    }

    .navbar-nav .nav-link {
        font-size: 16px;
        margin: 0 10px;
    }

    .img1 {
        height: 300px;
        margin-top: 30px;
    }

    .sec1 h2 {
        font-size: 28px;
    }

    .sec1 p {
        font-size: 14px;
    }

    .sec2 .ima {
        visibility: hidden;
    }

    .sec3 img {
        width: 100%;
        height: auto;
        object-fit: contain;
        opacity: 1;
        padding: 25px;
    }

    .sec5-left h2 {
        font-size: 24px;
    }

    .counter-item .count {
        font-size: 25px;
    }

    .sec6 h2 {
        font-size: 30px;
    }

    .footer .container {
        padding: 20px;
    }
}